
{% extends 'base.html.twig' %}
{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block body %}

<div class="container-fluid p-0 mainAcceuil">

    <h1 class="text-center">KILOUKOI</h1>
    <h2 class="text-center">L'agence de location d'outils 2.0</h2>
</div>

{% endblock %}
