
.mainAcceuil{
    width: 100%;
    height: 100vh;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.mainAcceuil h1{
    color: white;
    font-size: 120px;
    text-align: center;
    padding-top: 150px;
}
.mainAcceuil h2{
    color: white;
    font-size: 70px;
    padding-top: 150px;
}
/* **************************************** SETTINGS **************************************** */

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    list-style-type: none;
}
/* **************************************** FOOTER **************************************** */
footer.bg-light {
    background-color: #ff9900e8 !important;
}
footer .logo img{
    width: 70%;
}

/* le footer a c'est pour les lien comme accueil en bas dans quelques liens */
footer a{
    color:white;
}
footer.mb-auto, .my-auto {
    color: white;
}
.row p{
    color: white;
}

/* **************************************** NAVBAR **************************************** */
.navbar-toggler-icon {   
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(0,0,0, )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; }  
.navbar-toggler { border-color: rgb(0, 0, 0) !important; }

a{
    color:rgb(255, 255, 255);
    font-size: 20px;
}
navbar.btn-warning {
    background-color: #ff9900e8;
}
button.btn-warning {
    color: rgb(255, 255, 255);
    font-size: 20px;

}