/* **************************************** HEADER **************************************** */

header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
