<h1>Nouveau contact</h1>

<p><b>Nom : </b> {{ contact.nom }}</p>
<p><b>Email : </b>{{ contact.email }}</p>
<p><b>Sujet : </b>{{ contact.sujet }}</p>

<h2>Message :</h2>

<p>{{ contact.message|raw }}</p>